/* Transition styles */
.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}
.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.slide-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.relative {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.tabs button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.35rem;
  transition: background-color 0.3s, color 0.3s;
}

.tabs button.active {
  background-color: black;
  color: white;
}

.tabs button.inactive {
  background-color: transparent;
  color: black;
}

/* New styles for the sliding content */
.sliding-content {
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
