.relative {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sliding-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.job-card {
  background-color: #E3FFF2;
  color: #05C168;
  border: 2px solid #05C168;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: calc(50% - 0.5rem);
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .job-card {
    width: calc(100% - 1rem);
  }

  .sliding-content {
    flex-direction: column;
  }

  .job-badge-container {
    position: static;
    margin-top: 1rem;
  }
}

.job-badge-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.job-badge {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}

.job-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 6rem;
  word-wrap: break-word;
}

.job-section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.job-locations {
  list-style: none;
  padding: 0;
}

.location-icon {
  margin-right: 0.5rem;
}

.show-more-button {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.truncated-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 6rem);
}


/* resources/Content.css */
.icon-size {
  width: 24px; /* Adjust as needed */
  height: 24px; /* Adjust as needed */
}

.rotate-180 {
  transform: rotate(180deg);
}
.rotate1-90 {
  transform: rotate(90deg);
}
.rotate {
  transform: rotate(90deg);
}


